body {
    background-image: url(../img/bg.jpg);
}

a {
    font-family: cursive;
    color: blue;

}

p {
    color: darkslategray;
}

a.head {
    color: red;
    text-decoration: none;
    border-bottom: 2px solid red;

}

p.preview {
    background: honeydew;
}

a:hover {
    text-decoration: none;

}

a.readmore:hover {
    text-decoration: none;
    color: greenyellow;

}

a.comment {
    color: darkslategrey;
}

a.active {
    text-decoration: none;

}

.center {
    text-align: center;
}

p {
    font-size: 20px;
}

p.article:first-letter {
    font-family: cursive;
    color: red;
}

.catalog li {
    list-style-image: url(../img/tick_circle_frame.png);
}

.catalog li li {
    list-style-image: url(../img/visited.png);
}

.new {
    color: white;
    background: red;
}
.gallery{

    border: 4px groove blue;
}
.gallery:hover
{
    border: none;
    padding: 4px;
}
.reg{
    width: 400px;
}
.reglink:focus {
    color:greenyellow;
    background: red;


}
.reglink{
    width: 400px;
}
.checkandradior:hover{
    border: 2px dashed red;
}
.fio{
    text-transform: capitalize;
}
.newtab{
    border-collapse: collapse;
    border: 3px solid black;
}

.newtab td{
    padding: 10px;
    border: 3px solid black;

}