@import "sources/reset.css";
@import "sources/header/main.css";
@import "sources/navigation/main.css";
body{
    background-color: rgb(235, 235, 235);

}
@font-face {
    font-family: Nexabold; /* Имя шрифта */
    src: url(../fonts/nexabold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Nexalight; /* Имя шрифта */
    src: url(../fonts/nexalight.ttf); /* Путь к файлу со шрифтом */
}
.center {
    margin: 0 auto;
}

.topslider{
    height: 390px;
    background-color: blue;

}
.middleslider{
    height: 380px;
    background-color: #000000;
}
.leftsidebar{
    display: inline-block;
    height: 100%;
    width: 300px;
    float: right;
    background-color: aqua;

}
.main{
    height: 100%;
    width: 620px;
    background-color: brown ;
}


.search{

    height: 70px;
    background-color: red;
}
.wrapper{
    width: 940px;

}